<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.Admin.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>Controllers.Admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffController</servlet-name>
        <servlet-class>Controllers.Staff.LoginStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>Controllers.Staff.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserController</servlet-name>
        <servlet-class>Controller.user.LoginUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controllers.Admin.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProducerController</servlet-name>
        <servlet-class>Controllers.Admin.ProducerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffController</servlet-name>
        <url-pattern>/staff/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controllers.Admin.AccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/admin/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/admin/category/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.Admin.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/admin/product/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>Controllers.Admin.BrandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/admin/brand/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProducerController</servlet-name>
        <url-pattern>/admin/producer/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutAdminController</servlet-name>
        <servlet-class>Controllers.Admin.LogoutAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutAdminController</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
