<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.Admin.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.User.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUserController</servlet-name>
        <servlet-class>Controllers.User.ProductUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterController</servlet-name>
        <servlet-class>Controllers.User.FilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>Controllers.Admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffController</servlet-name>
        <servlet-class>Controllers.Staff.LoginStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>Controllers.Staff.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserController</servlet-name>
        <servlet-class>Controllers.User.LoginUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controllers.Admin.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProducerController</servlet-name>
        <servlet-class>Controllers.Admin.ProducerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>Controllers.Staff.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreOrderStaffController</servlet-name>
        <servlet-class>Controllers.Staff.PreOrderStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUserController</servlet-name>
        <servlet-class>Controllers.User.LogoutUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStaffController</servlet-name>
        <servlet-class>Controllers.Staff.LogoutStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>Controllers.User.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogUserController</servlet-name>
        <servlet-class>Controllers.User.BlogUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherUserController</servlet-name>
        <servlet-class>Controllers.User.VoucherUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/product/search/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterController</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffController</servlet-name>
        <url-pattern>/staff/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUserController</servlet-name>
        <url-pattern>/product/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controllers.Admin.AccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/admin/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/admin/category/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.Admin.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>Controllers.User.ContactController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/admin/product/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>Controllers.Admin.BrandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/admin/brand/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProducerController</servlet-name>
        <url-pattern>/admin/producer/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutAdminController</servlet-name>
        <servlet-class>Controllers.Admin.LogoutAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutAdminController</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controllers.User.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/staff/blog/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountStaffController</servlet-name>
        <servlet-class>Controllers.Staff.AccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountStaffController</servlet-name>
        <url-pattern>/staff/account/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BillController</servlet-name>
        <servlet-class>Controllers.Staff.BillController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillController</servlet-name>
        <url-pattern>/staff/bill/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductStaffController</servlet-name>
        <servlet-class>Controllers.Staff.ProductStaffController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductStaffController</servlet-name>
        <url-pattern>/staff/product/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AboutUsController</servlet-name>
        <servlet-class>Controllers.User.AboutUsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUsController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.User.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreOrderStaffController</servlet-name>
        <url-pattern>/staff/preorder/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controllers.User.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatusController</servlet-name>
        <servlet-class>Controllers.User.OrderStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUserController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStaffController</servlet-name>
        <url-pattern>/staff/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BannerController</servlet-name>
        <servlet-class>Controllers.Staff.BannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPAYController</servlet-name>
        <servlet-class>VNPAY.VNPAYController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressCheckout</servlet-name>
        <servlet-class>Controllers.User.AddressCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankingController</servlet-name>
        <servlet-class>Controllers.User.BankingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddressCheckout</servlet-name>
        <url-pattern>/address-checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BannerController</servlet-name>
        <url-pattern>/staff/banner/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogUserController</servlet-name>
        <url-pattern>/blog/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPAYController</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankingController</servlet-name>
        <url-pattern>/banking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatusController</servlet-name>
        <url-pattern>/ordered/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountUserController</servlet-name>
        <servlet-class>Controllers.User.AccountUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountUserController</servlet-name>
        <url-pattern>/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NotFoundController</servlet-name>
        <servlet-class>Controllers.User.NotFoundController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotFoundController</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VoucherController</servlet-name>
        <servlet-class>Controllers.Staff.VoucherController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoucherController</servlet-name>
        <url-pattern>/staff/voucher/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>Controllers.User.SendMailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/staff/send-mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherUserController</servlet-name>
        <url-pattern>/voucher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeController
        </welcome-file>
    </welcome-file-list>
</web-app>
